# ==========================================
# Python
# ==========================================
backend/venv/
venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# ==========================================
# Databases
# ==========================================
*.db
*.sqlite3

# ==========================================
# Environment Variables
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Node.js
# ==========================================
frontend/node_modules/
node_modules/
frontend/dist/
dist/

# ==========================================
# Build Files
# ==========================================
build/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Operating System
# ==========================================
Thumbs.db
.DS_Store
